<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ecosystems Final project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8EDF45011ECC3D3F00DF374B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EDF45151ECC3D4000DF374B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EDF45201ECC3D4000DF374B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
